body{
    margin: 0;
    display: block;
}
div{
    background-color: aqua;
    height: 100px;
    width: 100px;
    animation:div 5s 1;
}
@keyframes div {
    0% {
        background-color: aqua;
        height: 100px;
        width: 100px;
    }
    25% {
      background-color: red ;
      height: 500px;
      width: 500px;
    }
    50% { background-color: yellow;
    height: 100px;
    width: 100px;
    margin-left: 500px;
margin-top: 500px;
border-radius: 50%;}
100% {
    background-color:greenyellow ;
    height: 100px;
    width: 100px;
 }
 }
